@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
}

.hero-glow{
  background:
  radial-gradient(
    circle at 50% 35%,
    rgba(124,58,237,0.18),
    transparent 45%
  );
}